{%extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!-- ##### Elements Area Start ##### -->
<section class="elements-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <!-- ========== Buttons ========== -->
            <div class="col-12">
                <div class="elements-title mb-30">
                    <h2>Buttons</h2>
                </div>
                <!-- Buttons -->
                <div class="newsbox-buttons-area mb-100">
                    <a href="#" class="btn newsbox-btn m-2">Send</a>
                    <a href="#" class="btn newsbox-btn btn-2 m-2">Send</a>
                    <a href="#" class="btn newsbox-btn btn-3 m-2">Send</a>
                </div>
            </div>

            <!-- ========== Progress Bars & Accordions ========== -->
            <div class="col-12">
                <div class="elements-title mb-30">
                    <h2>Accordians &amp; Tabs</h2>
                </div>
            </div>

            <!-- ##### Accordians ##### -->
            <div class="col-12 col-lg-6">
                <div class="accordions mb-100" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne"
                               data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Mauris gravida neque
                            augue, euismod ultricies dui sodales ut
                            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        </a></h6>
                        <div id="collapseOne" class="accordion-content collapse show">
                            <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam
                                varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget
                                lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis
                                ante.</p>
                        </div>
                    </div>
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo"
                               data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Pellentesque sit amet
                                velit a libero viverra porta non eu justo
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            </a>
                        </h6>
                        <div id="collapseTwo" class="accordion-content collapse">
                            <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam
                                varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget
                                lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis
                                ante.</p>
                        </div>
                    </div>
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed"
                               data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Quisque fringilla
                                orci lacus, ut vestibulum nisi interdum in
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            </a>
                        </h6>
                        <div id="collapseThree" class="accordion-content collapse">
                            <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam
                                varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget
                                lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis
                                ante.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ##### Tabs ##### -->
            <div class="col-12 col-lg-6">
                <div class="newsbox-tabs-content">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="tab--1" data-toggle="tab" href="#tab1" role="tab"
                               aria-controls="tab1" aria-selected="false">Mauris gravida neque</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab"
                               aria-controls="tab2" aria-selected="false">Pellentesque sit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="tab--3" data-toggle="tab" href="#tab3" role="tab"
                               aria-controls="tab3" aria-selected="true">Quisque fringilla</a>
                        </li>
                    </ul>

                    <div class="tab-content mb-100" id="myTabContent">
                        <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="newsbox-tab-content">
                                <!-- Tab Text -->
                                <div class="newsbox-tab-text">
                                    <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu
                                        quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.
                                        Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at
                                        ipsum ac, dignissim iaculis ante.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                            <div class="newsbox-tab-content">
                                <!-- Tab Text -->
                                <div class="newsbox-tab-text">
                                    <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu
                                        quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.
                                        Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at
                                        ipsum ac, dignissim iaculis ante.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                            <div class="newsbox-tab-content">
                                <!-- Tab Text -->
                                <div class="newsbox-tab-text">
                                    <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu
                                        quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.
                                        Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at
                                        ipsum ac, dignissim iaculis ante.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ========== Loaders ========== -->
            <div class="col-12">
                <div class="elements-title mb-30">
                    <h2>Loaders</h2>
                </div>
            </div>

            <div class="col-12">
                <!-- Loaders Area Start -->
                <div class="our-skills-area">
                    <div class="row">

                        <!-- Single Skills Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle" class="circle" data-value="0.75">
                                    <div class="skills-text">
                                        <span>75%</span>
                                    </div>
                                </div>
                                <p>Landsacpes</p>
                            </div>
                        </div>

                        <!-- Single Skills Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle2" class="circle" data-value="0.83">
                                    <div class="skills-text">
                                        <span>83%</span>
                                    </div>
                                </div>
                                <p>Portraits</p>
                            </div>
                        </div>

                        <!-- Single Skills Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle3" class="circle" data-value="0.25">
                                    <div class="skills-text">
                                        <span>25%</span>
                                    </div>
                                </div>
                                <p>Studio</p>
                            </div>
                        </div>

                        <!-- Single Skills Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-skils-area mb-100">
                                <div id="circle4" class="circle" data-value="0.95">
                                    <div class="skills-text">
                                        <span>95%</span>
                                    </div>
                                </div>
                                <p>Weddings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ========== Milestones ========== -->
            <div class="col-12">
                <div class="elements-title mb-30">
                    <h2>Milestone</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="newsbox-cool-facts-area">
                    <div class="row">

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-icon">
                                    <img src="{% static 'img/core-img/idea.png'%}" alt="">
                                </div>
                                <div class="scf-text">
                                    <h2><span class="counter">149</span></h2>
                                    <p>Happy Readers</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-icon">
                                    <img src="{% static 'img/core-img/list.png'%}" alt="">
                                </div>
                                <div class="scf-text">
                                    <h2><span class="counter">2391</span></h2>
                                    <p>Articles</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-icon">
                                    <img src="{% static 'img/core-img/id-card.png' %}" alt="">
                                </div>
                                <div class="scf-text">
                                    <h2><span class="counter">245</span></h2>
                                    <p>Reporters</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-cool-fact mb-100">
                                <div class="scf-icon">
                                    <img src="{% static 'img/core-img/diamond.png' %}" alt="">
                                </div>
                                <div class="scf-text">
                                    <h2><span class="counter">128</span></h2>
                                    <p>Coffes a month</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- ========== Icon Boxes ========== -->
            <div class="col-12">
                <div class="elements-title mb-30">
                    <h2>Icon Boxes</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="row">

                    <!-- Single Service Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area mb-100">
                            <div class="icon mb-30">
                                <img src="{% static 'img/core-img/id-card2.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h5>The Best Reporters</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                    facilisis, volutpat nulla placerat, tincidunt mi.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area mb-100">
                            <div class="icon mb-30">
                                <img src="{% static 'img/core-img/file.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h5>Latest News</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                    facilisis, volutpat nulla placerat, tincidunt mi.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-service-area mb-100">
                            <div class="icon mb-30">
                                <img src="{% static 'img/core-img/archive.png' %}" alt="">
                            </div>
                            <div class="text">
                                <h5>Awarded Stories</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tortor
                                    facilisis, volutpat nulla placerat, tincidunt mi.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Elements Area End ##### -->
</body>
{% endblock %}